---
layout: basic_page_layout
hero_text: Who are SPEAK.events for and how can I participate?
title: How can I get involved?
---

<div class="row"> 
     
     <div class="col-1 menu">
     <div class="void"> </div>
     </div>
  
     {% include arcticleblock.html arcticleblock_id="block5" %}
     {% include arcticleblock.html arcticleblock_id="block6" %}
     
     <div class="col-1 menu">
     <div class="void"> </div>
     </div>
     
     </div>


     <div class="row"> 
     
     <div class="col-1 menu">
     <div class="void"> </div>
     </div>
  
     {% include arcticleblock.html arcticleblock_id="block7" %}
     {% include arcticleblock.html arcticleblock_id="block8" %}
     
     <div class="col-1 menu">
     <div class="void"> </div>
     </div>
     
     </div>

     <div class="row"> 
     
     <div class="col-1 menu">
     <div class="void"> </div>
     </div>
  
    {% include youtube.html youtube_id="-FOCpMAww28" %}
    {% include youtube.html youtube_id="-FOCpMAww28" %}
     
     <div class="col-1 menu">
     <div class="void"> </div>
     </div>
     
     </div>


