---
layout: basic_page_layout
hero_text: What are SPEAK.events and why do they exist?
title: What are speak events?
---

     <div class="row"> 
     
     <div class="col-1 menu">
     <div class="void"> </div>
     </div>
  
     {% for post in site.posts %} 
     {% if post.postref == "block0" %}
     
     {% include textblock.html %}

     {% endif %}
     {% endfor %}

     
     {% for post in site.posts %} 
     {% if post.postref == "block1" %}
     
     {% include textblock.html %}

     {% endif %}
     {% endfor %}
     
     <div class="col-1 menu">
     <div class="void"> </div>
     </div>
     
     </div>


     <div class="row"> 
     
     <div class="col-1 menu">
     <div class="void"> </div>
     </div>
  
     {% for post in site.posts %} 
     {% if post.postref == "block2" %}
     
     {% include textblock.html %}

     {% endif %}
     {% endfor %}

     
     {% for post in site.posts %} 
     {% if post.postref == "block4" %}
     
     {% include textblock.html %}

     {% endif %}
     {% endfor %}
     
     <div class="col-1 menu">
     <div class="void"> </div>
     </div>
     
     </div>


{% include textblock.html textblock_id="block4" %}


