<div class="row"> 
     
     <div class="col-4 menu">            
     <div class="bottom_left">
  
          <a href="">What are our events about?</a>

     </div>
     </div>

     <div class="col-4 menu">          
     <div class="bottom_middle">   
    
          <a href="">Who are our events for?</a> 

     </div>
     </div>
  
     <div class="col-4 menu">          
     <div class="bottom_right">   
    
          <a href="">When and where are our events?</a> 

     </div>
     </div>
     
</div>

<center>
  Helping the world to find its voice 15 minutes at a time. 
</center>
