<div class="row"> 
     
     <div class="col-4 menu">            
     <div class="bottom_left">
  
     What are our events about?

     </div>
     </div>

     <div class="col-4 menu">          
     <div class="bottom_middle">   
    
     Who are our events for?   

     </div>
     </div>
  
     <div class="col-4 menu">          
     <div class="bottom_right">   
    
     When and where do our events take place?    

     </div>
     </div>
     
</div>





<center>
  Helping the world to find its voice 15 minutes at a time. 
</center>
