<div class="row"> 
     
     <div class="col-1 menu">
          <div class="void"> </div>
     </div>
  
     <div class="col-4 menu">            
     <div class="bottom-left">
  
     What are our events about?

     </div>
     </div>

     <div class="col-4 menu">          
     <div class="bottom-middle">   
    
     Who are our events for?   

     </div>
     </div>
  
     <div class="col-4 menu">          
     <div class="bottom-right">   
    
     When and where do our events take place?    

     </div>
     </div>

 
     <div class="col-1 menu">
     <div class="void"> </div>
     </div>
     
</div>





<center>
  Helping the world to find its voice 15 minutes at a time. 
</center>
